name: .NET

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
    
env:
  NUGET_FEED: https://api.nuget.org/v3/index.json
  NUGET_KEY: ${{ secrets.NUGET_API_KEY }}

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore
    - name: Test
      run: dotnet test --no-build --verbosity normal
    - name: Nuget
      run: 
        cd ./SimpleMathLibraryX/bin/release |
        dotnet nuget push SimpleMathLibraryX.1.0.0.nupkg --api-key ${NUGET_KEY} --source ${NUGET_FEED}
    - name: Show a secret
      run: echo "${{ NUGET_FEED}}"
